/* Color Pallete and Spacing Indicators*/
:root
{
    --dark-brown: #7D6D6D;
    --light-brown: #D7BCBC;
    --whitish: #FEFCFC;
    --light-gray: #CFD6E1;
    --dark-gray: #2F3A4B;
    --extra-small: 8px;
    --small: 16px;
    --medium: 24px;
    --large: 48px;
    --extra-large: 72px;
    --cursive: "Brush Script MT", cursive;
    --non-cursive: 'Times New Roman', Times, serif;
}

*
{
    padding: 0;
    margin: 0;
}

/* General Styles */
body
{
    background-color: var(--light-brown);
}

/* Style the Header */
header
{
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1
{
    font-family: var(--cursive);
    font-size: var(--extra-large);
    color: var(--dark-brown);
    padding: 15px;
}

/* Style the Main Content */
main
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-start;
    margin: 5px;
}

section h2
{
    color: var(--dark-brown);
    font-size: var(--large);
    font-family: var(--cursive);
}

section.grid-container
{
    width: 600px;
    height: 600px;
    display: grid;
}

section.grid-container:hover
{
    cursor: crosshair;
}

section.grid-options, div.modes-container, div.extra-options
{
    display: flex;
    flex-flow: column nowrap;
}

div.modes-container
{
    margin: 25px;
    height: 200px;
    justify-content: center;
}

button#rainbow, button#classic, button#darken
{
    border: 3px solid var(--dark-gray);
    background-color: var(--dark-brown);
    color: var(--whitish);
    font-size: var(--medium);
    padding: 10px;
    font-family: var(--non-cursive);
    opacity: 1;
    transition: opacity 0.2s;
}

button#rainbow:hover, button#classic:hover, button#darken:hover
{
    opacity: 0.7;
    cursor: pointer;
}

button#rainbow:active, button#classic:active, button#darken:active
{
    opacity: 0.3;
}

button#rainbow, button#classic
{
    border-bottom: none;
}

div.extra-options
{
    background-color: var(--dark-brown);
    height: 250px;
    justify-content: space-evenly;
    align-items: center;
    font-family: var(--non-cursive);
    font-size: var(--medium);
    color: var(--whitish);
    border: 3px solid var(--dark-gray);
    border-radius: 15px;
}

div.number-of-squares
{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

input#show-borders, input#border-color, input#canvas-color
{
    width: 25px;
    height: 25px;
}

input#show-borders:hover, input#border-color:hover, input#canvas-color
{
    cursor: pointer;
}

input#number-of-squares:hover
{
    cursor: grab;
}

input#number-of-squares:active
{
    cursor: grabbing;
}

div.tools
{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    border: 3px solid var(--dark-gray);
    background-color: var(--light-gray);
}

div.tools button
{
    background-color: var(--whitish);
    border: none;
    transition: opacity 0.3s;
}

div.tools button:hover
{
    cursor: pointer;
    opacity: 0.7;
}

div.tools button:active
{
    opacity: 0.3;
}

div.pencil-wrapper, div.eraser-wrapper, div.clear-canvas-wrapper
{
    border-top: 3px solid var(--dark-gray);
}

button > img
{
    width: 25%;
    max-width: 250px;
}

input#color-pallete
{
    display: none;
}


/* Style the Footer */
footer
{
    margin-top: 3vh;
    padding: 1.3vh;
    background-color: var(--dark-gray);
}

div.footer-content
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

img#profile-pic
{
    width: 20vw;
    max-width: 150px;
    border-radius: 50%;
    border: 5px solid var(--dark-brown);
    transition: border-color 0.3s;
}

img#profile-pic:hover
{
    border-color: var(--light-brown);
}

div.copyright p a
{
    color: var(--light-gray);
    font-size: var(--medium);
    text-decoration: none;
    transition: color 0.3s
}

div.copyright p a:hover
{
    color: var(--light-brown);
}